fastapi
uvicorn
sqlalchemy
pydantic
python-multipart
python-jose[cryptography]
passlib[bcrypt]
celery
redis
openai-whisper
mediapipe
opencv-python-headless
ffmpeg-python
numpy
boto3
pydantic-settings
python-dotenv
langchain
openai
email-validator
langchain-openai
pypdf
librosa
soundfile
retell-sdk
